.menu1_layout {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.flex_wrap {
  display: flex;
  width: 80vw; 
  padding: 20px;
  gap: 20px;
}

.report_section {
  flex: 1; /* 테이블의 너비를 조정 */
  margin-right: 20px;
}

.modal_section {
  flex: 1; /* 모달의 너비를 조정 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.report_create {
  width: 100%;
  margin: 20px 0;
}

.report_create h1 {
  font-size: 45px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.button_group {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.register_button,
.create_button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 10px;
}

.register_button:hover,
.create_button:hover {
  background-color: #f2f2f2;
}

.table_container {
  width: 100%;
  overflow-x: auto;
}

.report_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.report_table th, .report_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.report_table th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.report_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.report_table tr:nth-child(odd) {
  background-color: #fff;
}

.report_table tr:hover {
  background-color: #e0f7fa;
}

.detail_button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.detail_button:hover {
  background-color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f2f2f2;
}

.pagination button:focus {
  background-color: #000;
  color: #fff;
}

/* 새로운 섹션 스타일 */
.image_section {
  margin-top: 70px;
}

.image_section h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.branchSalesImage {
  width: 100%;
  height: auto;
  max-width: 650px;
  height: 850px; 
}

.expenseImage {
  width: 100%;
  height: auto;
  max-width: 700px;
  height: 850px;
}

.repairImage {
  width: 100%;
  height: auto;
  max-width: 700px;
  height: 850px;
}

/* 선택된 보고서 스타일 */
.selectedCell {
  background-color: #e0f7fa; /* 원하는 색상으로 변경 */
}
