.menu1_layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(211, 211, 211);
}

.flex_wrap {
  width: 80vw; /* 너비를 80%로 설정하여 흰색 배경을 벗어나지 않도록 함 */
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 40px;  /* 왼쪽 패딩 추가 */
  padding-right: 40px; /* 오른쪽 패딩 추가 */
}

/* 차트 섹션 스타일 */
.stock_chart_section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock_chart_container {
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stock_chart_container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 테이블 섹션 스타일 */
.stock_tables_section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock_table_container {
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stock_table_container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 테이블 스타일 */
.stock_table_container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.stock_table_container th, .stock_table_container td {
  padding: 12px;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.stock_table_container th {
  /* background-color: #76b6fa;  */
  color: black;
  font-weight: bold;
}

.stock_table_container tbody tr:hover {
  background-color: #f1f1f1;
}

.stock_table_container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stock_table_container td {
  font-size: 14px;
  color: #333;
}

/* 빈 메시지 스타일 */
.stock_empty_message {
  text-align: center;
  color: #666;
  font-size: 16px;
}

/* 버튼 섹션 스타일 */
.stock_submit_section {
  text-align: center;
  margin-top: 20px;
}

.stock_submit_section button, .max_button {
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1%; /* 버튼 간격 추가 */
}

.stock_submit_section button:hover {
  background-color: #45a049;
}

/* 버튼 기본 스타일 */
.stock_max_button {
  border: none; /* 기본 버튼 테두리 제거 */
  color: white; /* 글자 색상 */
  font-size: 0.875rem; /* 폰트 크기 줄이기 (반응형) */
  font-weight: 550; /* 폰트 진하게 */
  padding: 0.5rem 1rem; /* 버튼의 여백 줄이기 (반응형) */
  border-radius: 0.375rem; /* 버튼의 둥글기 줄이기 */
  cursor: pointer; /* 포인터 커서 변경 */
  transition: background-color 0.3s, transform 0.2s; /* 배경색과 애니메이션 효과 */
  background-color: #007bff; /* 시원한 파랑 색상 */
}

/* 버튼 호버 상태 */
.stock_max_button:hover {
  background-color: #0056b3; /* 시원한 파랑 색상 호버 상태 */
  transform: scale(1.03); /* 호버 상태에서 버튼 크기 확대 */
}


