.menu1_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: white;
  padding-bottom: 80px;
}

.flex_wrap {
  /* width: 80vw; */
  background-color: rgb(255, 255, 255);

  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 80vw;
}

.flex_wrap .bio_card {
  flex: 1 1 calc(3% - 20px); /* 3개의 열로 나누기 위한 계산 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비를 계산 */
}

.searchbar_container {

  width:80vw;

  margin-bottom: 20px;
}

.paging_container {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 80vw;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
}

.deleteButtonCss{
  z-index: 1000;
  position: fixed;
  bottom: 10vh;
  left: 45%;


}

/* 버튼 */
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}