.headerContainer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #d0e4f8, #f8f9fa, #d0e4f8);
    height: 80px;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 92%;
    position: relative;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo img {
    height: 33px;
  }
  
  .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .signUp {
    padding: 5.5px 14px;
    background-color: #cee1f5;
    border: 1px solid #1f70c6;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signUp:hover {
    background-color: #0056b3;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    height: 50px;
    background: linear-gradient(to right, #d0e4f8, #f8f9fa, #d0e4f8);
    border-bottom: 2px solid #cedae4;
    position: relative;
  }
  
  .nav li {
    width: 150px;
  }
  
  .nav li div {
    text-align: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav:hover .dropdown {
    display: block;
    animation: slideDown 0.3s ease-in-out forwards;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 25vh;
    background: linear-gradient(to bottom, #f1f6fb, #d0e4f8, rgb(224, 248, 251));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden; /* ::before 요소가 dropdown의 경계를 벗어나지 않도록 */
    border-bottom: 2px solid #cedae4;

  }
  
  .dropdown::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/headerBackground.jpg'); /* 배경 이미지 경로 설정 */
    background-size: cover; /* 배경 이미지를 요소 크기에 맞추기 */
    background-position: center;
    background-blend-mode: screen; /* 배경 이미지와 배경 색상 간의 혼합 모드 설정 */
    opacity: 0.5; /* 배경 이미지 투명도 조절 (0.0 ~ 1.0) */
    z-index: -1; /* 배경 이미지를 콘텐츠 뒤로 보내기 */
  }

  
  
  .dropdown ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .dropdown ul li {
    padding: 8px 16px;
  }
  
  .dropdown ul li:hover {
    /* background-color: #dcf9ff; */
  }
  
  .menuItem {
    cursor: pointer;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    position: relative;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .menuItem::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(115, 194, 224);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .menuItem:hover::after {
    transform: scaleX(1);
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menuItem1,
  .menuItem2,
  .menuItem3,
  .menuItem4,
  .menuItem5,
  .menuItem6,
  .menuItem7,
  .menuItem8 {
    width: 200px;
  }
  
  .dropdown ul li {
    border-right: 1px solid #ddd;
  }
  
  .dropdown ul li:last-child {
    border-right: none;
  }
  
  a {
    color: rgb(55, 55, 55) !important;
    font-size: 15px;
    text-decoration: none !important;
  }
  
  .menuItem1 a:hover,
  .menuItem2 a:hover,
  .menuItem3 a:hover,
  .menuItem4 a:hover,
  .menuItem5 a:hover,
  .menuItem6 a:hover,
  .menuItem7 a:hover,
  .menuItem8 a:hover {
    color: rgb(102, 6, 128) !important;
  }
  
  
  /* 알림 관련 스타일 */
