.menu1_layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* background-color: rgb(211, 211, 211); */

}

.flex_wrap {
  /* width: 80vw; */
  
  background-color: rgb(255, 255, 255);
  
}

.mainContainer{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 35%;
  grid-template-rows: 8vh 60vh 35vh;
  grid-template-areas: 
              "header header"
              "revenue expenditure"
              "utility top";
  /* place-content: space-between center; */
  justify-content: center;
  gap : 10px 10px;
}
.headerBox{
  /* background-color: cyan; */
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revenueBox{
  background-color: #fbfcfe;
  border: 1px solid #cfd7e0;
  grid-area: revenue;
  border-radius: 5px;
}

.expenditureBox{
  background-color: #fbfcfe;
  border: 1px solid #cfd7e0;
  grid-area: expenditure;
  border-radius: 5px;
}

.utilityBox{
  background-color: #fbfcfe;
  border: 1px solid #cfd7e0;
  grid-area: utility;
  border-radius: 5px;
  padding: 10px;
}

.topBox{
  background-color: #fbfcfe;
  border: 1px solid #cfd7e0;
  grid-area: top;
  border-radius: 5px;
  padding: 10px;
}
.titleBox{
  background-color: rgb(189, 189, 189);
  height: 70%;
  width: 10vw;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding-left: 5px;
}
