.revenueContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33% !important;
    grid-template-rows: 10% 40% 45% !important;
    grid-template-areas: 
        "title title title"
        "month year pie"
        "graph graph graph";
    row-gap: 5px;
    align-items: stretch;
    justify-content: center;
}

.title{
    /* background-color: cyan; */
    grid-area: title;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.month{
    /* background-color: green; */
    grid-area: month;
    padding: 10px;
}

.year{
    /* background-color: yellow; */
    grid-area: year;
    padding: 10px;
}

#revenuePie{    
    /* background-color: wheat; */
    grid-area: pie !important;
}

.revenueGraph{
    /* background-color: darkorange; */
    grid-area: graph;
    width: 100%;
    height: 100%;
    
}
.buttonTitle{
    font-size: large;
    font-weight: bold;
}
.revenueButton{
    background-color: #3674d1;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.revenueButton:hover{
    animation: pulse 1s;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.money{

    align-self: center;
    margin-top: 18%;
    
}
