/* 공통 레이아웃 */
.menu1Layout {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.flexWrap {
  display: flex;
  width: 80vw;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/* 보고서 작성 페이지 css */
.reportCreate {
  flex: 1.5;
  margin: 20px 20px 20px 0;
}

.reportCreate h1 {
  font-size: 35px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.branchButtonGroup {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/* 버튼 스타일 */
.branchRegisterButton,
.createButton {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 0.375rem;
}

.branchRegisterButton:hover,
.createButton:hover {
  background-color: #f2f2f2;
}

.activeButton {
  background-color: #badef4;
  color: #000;
}

/* 매출 테이블 스타일 */
.salesTableContainer {
  width: 90%;
  overflow-x: auto;
}

.salesTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  font-size: 16px;
}

.salesTable th, .salesTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.salesTable th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

/* 매출 테이블 각 열의 너비 조정 */
.salesTable th:nth-child(1), .salesTable td:nth-child(1) {
  width: 40px; /* 보고서번호 */
}

.salesTable th:nth-child(2), .salesTable td:nth-child(2) {
  width: 100px; /* 지점명 */
}

.salesTable th:nth-child(3), .salesTable td:nth-child(3) {
  width: 90px; /* 제출일 */
}

.salesTable th:nth-child(4), .salesTable td:nth-child(4) {
  width: 50px; /* 상태 */
}

/* 지출 테이블 스타일 */
.expenseTableContainer {
  width: 90%;
  overflow-x: auto;
}

.expenseTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  font-size: 16px;
}

.expenseTable th, .expenseTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expenseTable th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

/* 지출 테이블 각 열의 너비 조정 */
.expenseTable th:nth-child(1), .expenseTable td:nth-child(1) {
  width: 40px; /* 보고서번호 */
}

.expenseTable th:nth-child(2), .expenseTable td:nth-child(2) {
  width: 100px; /* 지점명 */
}

.expenseTable th:nth-child(3), .expenseTable td:nth-child(3) {
  width: 90px; /* 제출일 */
}

.expenseTable th:nth-child(4), .expenseTable td:nth-child(4) {
  width: 50px; /* 상태 */
}

/* 시설물수리 테이블 스타일 */
.repairTableContainer {
  width: 100%;
  overflow-x: auto;
}

.repairTable {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  font-size: 16px;
}

.repairTable th, .repairTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repairTable th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

/* 시설물수리 테이블 각 열의 너비 조정 */
.repairTable th:nth-child(1), .repairTable td:nth-child(1) {
  width: 60px; /* 보고서번호 */
}

.repairTable th:nth-child(2), .repairTable td:nth-child(2) {
  width: 150px; /* 지점명 */
}

.repairTable th:nth-child(3), .repairTable td:nth-child(3) {
  width: 120px; /* 종류 */
}

.repairTable th:nth-child(4), .repairTable td:nth-child(4) {
  width: 120px; /* 제출일 */
}

.repairTable th:nth-child(5), .repairTable td:nth-child(5) {
  width: 100px; /* 상태 */
}

/* 공통 스타일 */
.detailButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.detailButton:hover {
  background-color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f2f2f2;
}

.pagination button:focus {
  background-color: #000;
  color: #fff;
}

.detailView {
  flex: 1.5;
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #ddd;
  min-height: 850px;
  margin-top: 60px;
  overflow: auto;
}

.branchSaelesDetailView{
  flex: 1.5;
  background-color: #f9f9f9;
  padding: 20px; 
  border-left: 2px solid #ccc;
  min-height: 850px;
  margin-top: 60px; 
  overflow: auto;
}

.expenseDetailView{
  flex: 1.5;
  background-color: #f9f9f9;
  padding: 20px; 
  border-left: 2px solid #ccc;
  min-height: 850px;
  margin-top: 60px; 
  overflow: auto;
}

.repairDetailView{
  flex: 1.5;
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 2px solid #ccc;
  min-height: 850px; 
  margin-top: 60px; 
  overflow: auto;
  width: 70%;
}

/* 모달 창 스타일 */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

