.detailsContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255); /* 흰색 배경 추가 */
  padding: 20px; /* 패딩 추가 */
  box-sizing: border-box; /* 패딩을 포함하도록 박스 크기 설정 */
  height: 570px; /* 높이 조정 */
}

.title {
  text-align: center;
}

.detailsTable {
  width: 90%; /* 너비를 조정하여 공간을 더 차지하게 설정 */
  border-collapse: collapse;
  margin: 0 auto 20px auto; /* 테이블을 가운데 정렬 및 아래 여백 추가 */
  border: 1px solid #dddddd;
}

.detailsTable th,
.detailsTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.detailsTable th {
  background-color: #f2f2f2;
  text-align: center;
}

.detailsTable td {
  vertical-align: top;
}

.detailsTable .formNameHeader {
  background-color: #f2f2f2;
  height: 50px;
  width: 110px;
}

.detailsTable .formNameData {
  width: 5px;
  text-align: center;
}

.detailsTable .branchManagerHeader {
  background-color: #f2f2f2;
}

.detailsTable .branchManagerData {
  text-align: center;
  width: 100px;
}

.detailsTable .branchNameHeader {
  background-color: #f2f2f2;
  height: 50px;
}

.detailsTable .branchNameData {
  text-align: center;
  width: 150px;
}

.detailsTable .submissionDateHeader {
  background-color: #f2f2f2;
}

.detailsTable .submissionDateData {
  text-align: center;
}

.detailsTable .monthDateHeader {
  background-color: #f2f2f2;
}

.detailsTable .monthDateData {
  text-align: center;
}

.detailsTable .header {
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}

.detailsTable .verticalHeader {
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}

.detailsTable .subHeader {
  background-color: #f9f9f9;
}

.detailsTable .noBorder {
  border: none;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.formButtons button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 0.375rem;

}

.approveButton {
  background-color: #28a745;
}

.rejectButton {
  background-color: #dc3545;
}

.closeButton {
  background-color: #007bff;
}

.approveButton:hover {
  background-color: #218838;
}

.rejectButton:hover {
  background-color: #c82333;
}

.closeButton:hover {
  background-color: #0056b3;
}

.formButtons button:first-child {
  margin-left: 0;
}
