.detailsContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 70vh; 
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  height: 900px;
  padding: 20px;
  box-sizing: border-box; 
}

.title {
  text-align: center;
}

.detailsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

.detailsTable th,
.detailsTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.detailsTable th {
  background-color: #f2f2f2;
  text-align: center;
}

.detailsTable td {
  vertical-align: top;
}

.detailsTable .formNameHeader {
  background-color: #f2f2f2;
}

.detailsTable .formNameData {
  width: 50px;
  text-align: center;
}

.detailsTable .driverNameHeader {
  background-color: #f2f2f2;
}

.detailsTable .driverNameData {
  text-align: center;
  width: 200px;
}

.detailsTable .carNumberHeader {
  background-color: #f2f2f2;
}

.detailsTable .carNumberData {
  text-align: center;
  width: 150px;
}

.detailsTable .submissionDateHeader {
  background-color: #f2f2f2;
}

.detailsTable .submissionDateData {
  text-align: center;
  width: 200px;
}

.detailsTable .reportDateHeader {
  background-color: #f2f2f2;
}

.detailsTable .reportDate {
  text-align: center;
}

.detailsTable .header {
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}

.detailsTable .verticalHeader {
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}

.detailsTable .subHeader {
  background-color: #f9f9f9;
}

.detailsTable .noBorder {
  border: none;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.formButtons button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 0.375rem;

}

.approveButton {
  background-color: #28a745;
}

.rejectButton {
  background-color: #dc3545;
}

.closeButton {
  background-color: #007bff;
}

.approveButton:hover {
  background-color: #218838;
}

.rejectButton:hover {
  background-color: #c82333;
}

.closeButton:hover {
  background-color: #007bff;
}

.formButtons button:first-child {
  margin-left: 0;
}
