.menu1_layout  {
  display: flex !important;
  justify-content: center !important;
  width: 100vw !important;
  /* background-color: rgb(211, 211, 211); */

}

.flex_wrap {
  /* width: 80vw; */
  background-color: rgb(255, 255, 255);
}
