
.facility_menu1_layout {
    display: flex;
    justify-content: center;
    width: 100vw;
}
  
.facility_flex_wrap {
    width: 80vw;
    padding: 20px;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}

.facility_navbar {
    display: flex;
    justify-content: flex-start; /* 버튼을 오른쪽으로 정렬 */
    margin-bottom: 1.5%;
    margin-top: 0.8%;
    padding: 10px 20px; /* 네비게이션 바의 내부 패딩 조정 */
    width: 100%; /* 네비게이션 바의 너비를 100%로 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 전체 너비에 포함 */
    font-weight: bold;
}

.facility_nav-button {
    padding: 10px 20px; /* 패딩 조정 */
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* 링크의 밑줄 제거 */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 효과 추가 */
    min-width: 100px; /* 최소 너비 설정 */
    margin-left: 10px; /* 버튼 간의 간격 추가 */
}

/* FacilityLayout.css */
.facility_nav-button.active {
    background-color: #007BFF;
    color: white !important;  /* !important로 우선순위를 높여 적용 */
}

